* {
    font-family:  'JuliaMono', 'Cantarell', 'Caladea', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

#window {
    margin: 0px;
    border-radius: 10px;
    background-color: --wofi-color0;
}

#entry {
    margin: 0px 25px;
}

#entry:selected {
    background-color: --wofi-color1;
    border-radius: 10px;
    border: none;
    outline: none;
}

#entry > box {
    margin-left: 15px;
}

#entry image {
    padding-right: 10px;
}
